@use "sass:map";

.experience-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    //aspect-ratio: 2 / 1;
    border-radius: $border-radius;
    background: $dark-gradient;
    box-shadow: 0 0 .25rem 0 rgba($black, 0.25);

    @include color-mode(dark) {
        background: $light-gradient;
        box-shadow: 0 0 .25rem 0 rgba($white, 0.25);

        &:not(.primary) {
            .header {
                color: $black;
            }
        }
    }

    &.primary {
        background: $primary-gradient;
    }

    .header {
        display: flex;
        padding: .125rem .8125rem;
        justify-content: flex-end;
        align-items: center;
        font-size: 0.875rem;
        font-weight: $font-weight-semibold;
        color: $white;
    }

    .content {
        display: flex;
        padding: 1.5rem 1rem;
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        border-radius: $border-radius;
        background-color: $white;

        @include color-mode(dark) {
            background-color: $dark;
        }

        .techno-header {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo {
                width: 3.1875rem;
                height: 3.1875rem;

                picture, img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            .name {
                font-size: $h5-font-size;
                font-weight: $font-weight-semibold;
            }
        }

        .techno-review {
            color: $gray-600;

            @include color-mode(dark) {
                color: $gray-400;
            }

            p {
                margin-bottom: map.get($spacers, 1);
            }
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}