@use "sass:map";
@use "sass:color";

.navbar {
    @extend .container;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: space-between;
    align-items: center;

    .logo-section {
        display: flex;
        align-items: center;
        gap: map.get($spacers, 3);

        // TODO: Voir pour générifier le logo
        .logo {
            height: 2rem;

            .shape {
                height: 100%;

                .gradient-bg {
                    fill: url(#logo_sl_gradient);
                }

                .first-color {
                    stop-color: $primary;
                }

                .second-color {
                    stop-color: $primary;
                }
            }
        }

        .portfolio-name {
            display: flex;
            flex-direction: column;

            .name {
                font-size: 1.25rem;
                font-weight: $font-weight-bold;
                line-height: 1.25rem;
                @include bg-gradient;
            }

            .desc {
                font-size: 0.875rem;
                line-height: 0.875rem;
                @include bg-gradient;
            }
        }
    }

    .menu-mobile-btn {
        @include button-outline-variant($dark);
        display: none;
        padding: calc($btn-padding-y + .25rem);
        aspect-ratio: 1;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
            height: 1rem;
            fill: $dark;
        }

        &:hover {
            svg {
                fill: $white;
            }
        }

        @include color-mode(dark) {
            @include button-outline-variant($light);

            svg {
                fill: $light;
            }

            &:hover {
                svg {
                    fill: $dark;
                }
            }
        }

        @include media-breakpoint-down(lg) {
            display: flex;
            cursor: pointer;
        }
    }

    nav {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(lg) {
            display: none;
        }

        ul {
            display: flex;
            gap: map.get($spacers, 3);
            margin-bottom: 0;

            li {
                list-style: none;

                a {
                    box-sizing: border-box;
                    font-weight: $font-weight-bold;
                    color: $dark;
                    text-decoration: none;

                    @include color-mode(dark) {
                        color: $light;
                    }

                    &:after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 0.25rem;
                        background-color: $primary;
                        transition: width 0.3s;
                    }

                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }

                    &.active {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

main {
    @extend .container;

    section {
        width: 100%;
    }
}

.hero-wrapper {
    $navbar-approximative-height: 10rem;
    min-height: 40rem;
    height: calc(100vh - #{$navbar-approximative-height});
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
        min-height: unset;
        height: auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .hero {
        display: flex;
        gap: 6rem;

        @include media-breakpoint-down(xl) {
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        }

        .portrait {
            position: relative;
            width: 27rem;
            aspect-ratio: 1;
            flex-shrink: 0;

            @include media-breakpoint-down(md) {
                width: 75%;
            }

            .portrait-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: $border-radius;
                background: linear-gradient(135deg, #F0ECEA 0%, #FFF 100%);
                box-shadow: -.3125rem -.3125rem 1rem 0 $white, 5px .3125rem 1rem 0 $gray-300;

                picture {
                    position: absolute;
                    width: 95%;
                    right: 0;
                    bottom: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }

            .dots-grid {
                position: absolute;
                top: -2.75rem;
                right: -2.75rem;
                width: 17rem;
                height: 17rem;

                @include media-breakpoint-down(sm) {
                    //display: none;
                }

                circle {
                    fill: $gray-400;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: map.get($spacers, 4);

            .heading {
                .title {
                    background: unset;
                    -webkit-text-fill-color: unset;
                }
            }

            .about-me {
                p {
                    font-size: 1.125rem;
                }
            }
        }
    }
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .section-header {
        @extend .heading;
        display: flex;

        .title-wrapper {
            flex-grow: 1;
        }

        .icon-wrapper {
            display: flex;
            align-items: center;

            svg {
                height: 5rem;
                aspect-ratio: 1;
            }
        }
    }

    .sub-section {
        .subtitle {
            margin-bottom: 1rem;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;

            @include media-breakpoint-down(xxl) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include media-breakpoint-down(lg) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.meta-title {
    color: $gray-600;

    @include color-mode(dark) {
        color: $gray-400;
    }
}

h1, .title {
    @include bg-gradient;
    font-size: $h1-font-size;
    font-weight: $font-weight-bold;
    margin: 0;

    @include media-breakpoint-down(md) {
        font-size: $h2-font-size;
    }
}

h2, .subtitle {
    @include bg-gradient;
    font-size: $h4-font-size;
    font-weight: $font-weight-semibold;
    margin: 0;

    @include media-breakpoint-down(md) {
        font-size: $h5-font-size;
    }
}

.section-icons-gradient {
    .first-color {
        stop-color: map.get($dark-gradient-colors, 1);
    }

    .second-color {
        stop-color: map.get($dark-gradient-colors, 2);
    }

    @include color-mode(dark) {
        .first-color {
            stop-color: map.get($light-gradient-colors, 1);
        }

        .second-color {
            stop-color: map.get($light-gradient-colors, 2);
        }
    }
}