@use "sass:map";

@each $name, $gradient in $gradients {
    .bg-gradient-#{$name} {
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@mixin bg-gradient($name: null) {
    $color: null;
    @if $name == null {
        background: $dark-gradient;

        @include color-mode(dark) {
            background: $light-gradient;
        }
    } @else {
        background: map.get($gradients, $name);
    }

    background-clip: text !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}