@use "sass:map";

@each $name, $gradient in $gradients {
    .bg-gradient-#{$name} {
        background: none;
        background: $gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}