---
import logoOrange from '../images/sl-orange.svg?raw';
---

<footer>
    <div class="container">
        <div class="logo-part">
            <div class="logo">
                <Fragment set:html={logoOrange} />
            </div>
            <div class="portfolio-name">
                <div class="name">Sofiane Lasri.</div>
                <div class="desc">Développeur Full-Stack</div>
            </div>
        </div>
        <div class="credits-part">
            <div class="text-muted text-right">
                Développé avec &lt;3 sur Astro. <br>2024
            </div>
        </div>
    </div>
</footer>