---
import '../styles/app.scss';
import {getLanguage} from "../i18n/utils";
import Footer from "../components/Footer.astro";
import SpeedInsights from "@vercel/speed-insights/astro"

interface Props {
	title: string;
}

let lang = getLanguage(Astro.preferredLocale)

const { title } = Astro.props;

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Portfolio de Sofiane Lasri" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<SpeedInsights/>
		<slot />
        <Footer />
		<script>
			import { Modal } from 'bootstrap'
			Array.from(document.querySelectorAll('.modal'))
				.forEach(modalNode => new Modal(modalNode), {
					backdrop: true,
				})
		</script>
	</body>
</html>